<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block head%} {%endblock%}
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <title>ToDo App</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg  bg-dark text-white mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ToDo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'todoHome' %}">Home</a>
          </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'schema-swagger-ui' %}">REST API</a>
          </li>


      </ul>
        <ul class="navbar-nav  px-5">
            <li class="nav-item dropdown ">

              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated  %}
                          {% if user.profile.image %}
                              <img src={{user.profile.image.url}} width="40"
                                 alt="https://res.cloudinary.com/dg1y6ou2d/image/upload/v1634211838/user_gdriaq.png"
                                 height="40" class="rounded-circle">

                          {% else %}
                            <i class="far fa-user-circle"></i>
                        {% endif %}
                {% else %}
                  <i class="far fa-user-circle"></i>
                {% endif %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


                {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                   <a class="dropdown-item" href="{% url 'editprofile' %}">Edit Profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}" role="button">SignOut</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'registration'%}" role="button">Register</a>
                {% endif %}
              </div>
        </li>
        </ul>




    </div>
  </div>
</nav>

  <div class="dashboard d-flex">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

        </div>
        <div class="col-md-12">
          {% if user.is_authenticated %}
            <p class="lead text-muted">Welcome {{user.first_name}}</p>
          {% else %}
            <p class="lead text-muted">Please log In to use this application</p>
          {% endif %}
          {% block content %}

            {% endblock %}

      </div>
    </div>
    </div>
  </div>

  <!-- Footer -->

  <footer class="footer bg-dark text-white mt-5 p-4 text-center">
   Copyright © 2021 Todo
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>