{% extends "todoApp/base.html" %}
    {% load cloudinary %}
{% cloudinary_includes %}
{% cloudinary_js_config %}

    {% load crispy_forms_tags %}
    {% block content %}
        <div class="d-flex justify-content-center row mt-out">
                    <div class="col-4 border" >
                        <form method="POST" enctype="multipart/form-data"   >
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="User Profile">Update User Details</legend>
                                {{ upUser |crispy}}
                                {{ upProfile |crispy}}
                            </fieldset>
                            <div class="form-group py-2 ">
                                <button class="btn btn-outline-success align-items-center" type="submit">Submit</button>
                            </div>
                     </form>
                    </div>

        </div>


    {% endblock content %}